
$shade1:rgb(255, 255, 255);
$shade2:#fff;
$shade3: #999;

$color1: #e91e63;
$color2:#7cf4a0;
// #e91e63
$h-header: 700px;
$font-title: 'Broadbay';
$font2: 'Helvetica';
$serif-font: 'Playfair Display', serif;
$font-para: 'Mulish', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&family=Playfair+Display&display=swap');

@font-face {


    font-family: $font-title;



    src: url("//db.onlinewebfonts.com/t/67fb32a0a3e760e11863ede6e965614b.eot");
    src: url("//db.onlinewebfonts.com/t/67fb32a0a3e760e11863ede6e965614b.eot?#iefix") 
        format("embedded-opentype"), 
        url("//db.onlinewebfonts.com/t/67fb32a0a3e760e11863ede6e965614b.woff2") 
        format("woff2"), 
        url("//db.onlinewebfonts.com/t/67fb32a0a3e760e11863ede6e965614b.woff") 
        format("woff"), 
        url("//db.onlinewebfonts.com/t/67fb32a0a3e760e11863ede6e965614b.ttf") 
        format("truetype"), 
        url("//db.onlinewebfonts.com/t/67fb32a0a3e760e11863ede6e965614b.svg#Broadbay") 
        format("svg");
    src: url(../font/BroadbayNormal-JJv7.ttf);

    src: url(../font/Andes.ttf);

}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 15px;


    a{
        text-decoration: none;
        color: $shade2;
    }
    p{
        font-family: $font-para;
        font-size: 1.5rem;
    }

    body{

        background: linear-gradient(90deg, rgba(255,255,255,1) 25%, rgba(5,231,240,1) 50%, rgba(253,255,255,1) 75%);
    }
    .wrapper{

        width: 100%;
        max-width: 1500px;
        // background:$color1;
        overflow: hidden;
        margin: 0 auto;
        background-image: url(../images/home-bg1.2.png);
        background-repeat: no-repeat;
        background-position: top center;
        background-attachment: fixed;

        .btn{
            z-index: 10003;
        }
        header{

            width: 100%;
            margin: 0 auto;
            max-width: 1500px;
            position: relative;
            display: flex;
            align-items: center;
            height: 600px;
            max-height: 1080px;



            background: radial-gradient(circle, #01204d 0%, rgba(1, 32, 77, 0.7441351541) 15.2em, rgba(5, 231, 240, 0.2679446779) 17em, #d6a7ec 16em, #020833 18em);
            background-repeat: no-repeat;

            .corner{

                position: absolute;

            }

            .corner-right{
                bottom: 13px;
                right: 25px;
            }

            .corner-left{
                top: 13px;
                left: 25px;

            }

            canvas{
                position: absolute;
                transform: scale(1.5);
                max-width: 1500px;
                width: 100%;
                pointer-events: none;

            }

            //max wih and scale



            .logo{
                z-index: 99;
                width: 40rem;
                margin: 0 auto;
                text-align: center;
                background-image: url(../images/art-deco-logo-element.png);
                background-repeat: no-repeat;
                background-position: center;


                h1 {
                    font-family: $font-title;
                    font-size: 6rem;

                    margin: 0 auto;
                    color: white;



                }




                span{
                    font-family: $font-title;
                    font-size: 2.5rem;
                    color: white;
                }

            }





        }

        main{

            width: 100%;
            // background-color: $shade1;


            h2{
                font-size: 4rem;
                color: #fff;
                font-family: "Broadbay", serif;
                flex-basis: 100%;
                margin: 2rem 0 1rem 0;
                text-align: center;


            }

            .art-deco-element{
                width: 100%;
                margin: 0 auto;
                text-align: center;

            }



            article{

                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin: 0 auto;
                padding: 2%;
                background-color: #020833;
                background-image: url(../images/home-bg1.2.png);
                background-position: center;
                background-repeat: no-repeat;
                background-attachment: fixed;


                h3,h4{
                    color: #ffffff;
                    font-family: 'Roboto', sans-serif;
                    margin: 1rem 0 0;
                }

                p{
                    color: white;
                    margin:  1rem;
                }
                .view{


                    //                    height: 3rem;
                    //                    width: 6rem;
                    padding: 1rem;
                    border-radius: 3rem;
                    float: right;

                    -webkit-transition: all 0.2s ease-in;
                    -moz-transition: all 0.2s ease-in;
                    -o-transition: all 0.2s ease-in;
                    transition: all 0.2s ease-in;
                    color: #02072b;
                    font-weight: bold;
                    font-size: 1.3rem;
                    border: 2px solid #0dcaf0;


                }

                .immage-students-cotainer{


                    .student{

                        margin: 1rem;

                    }

                }

                .project-container-xl{
                    width: 750px;
                    background-color: #020629c2;
                    border: 4pt solid #ffffff;
                    margin: 2rem;
                    padding: 1rem;
                    box-shadow: 2px 2px 2px 22px #0dcaf052;
                    transition: 3s all;



                    .img-heading{


                        max-height: 250px;
                        width: 100%;
                        margin: 0 auto;
                    }

                    .student{
                        width: 6.5rem;
                        border-radius: 100%;
                    }


                }

                .project-container{

                    width: 545px;
    height: 525px;
    background-color: #020629c2;
    /* border: 4pt solid #ffffff; */
    box-shadow: 2px 2px 2px 22px #5cb0c133;
    margin: 2rem;
    padding: 1rem;
    position: relative;
    cursor: alias;
    padding: 3rem;
    background-image: url(../images/corners.png);
    background-repeat: no-repeat;
    background-position: center;
 


                    .img-heading{


                        height: 135px;
                        width: 100%;
                        margin: 0 auto;
                    }


                }







            }



        }

        footer{
            width: 100%;
            margin: 0 auto;
            padding: 2rem;
            text-align: center;
            background-color: #021b34;
            color:#ffffff;
            font-family: $font-title;
        }


    }
}



/*# sourceMappingURL=style.scss.map */
